<template>
	<Layout :title="slug">
		<div>
			<div class="mission  block block-pd-sm block-bg-noise">
				<h2 class="container block-title">
					{{slug}}
				</h2>
				
				<div class="row">
					
					<div v-if="videos" class="col-sm-4" v-for="(data , key) in videos.data" :key="key">
					    <b-card  footer-tag="footer">
					      
					      <b-card-text>
					      	<!-- <p v-html="data.link"></p> -->
					      	<iframe width="auto" height="auto" :src="`https://www.youtube.com/embed/${data.link}`" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					      </b-card-text>
					      <template v-slot:footer>
					         <h3>{{data.name}}</h3>
					         {{data.deskripsi}}
					      </template>
					    </b-card>

					</div>
					
					

				</div>
			</div>
		</div>
	</Layout>
</template>

<script >
	import Layout from '../../Shared/Layout';
	// import carousel from 'vue-owl-carousel2'
	import { Carousel, Slide } from 'vue-carousel';
	export default {
		props : ['videos' , 'domain' , 'slug'],
		components: { Carousel, Slide, Layout },
		data () {
			return {
				itemBerita : {
					paddingLeft : '4px',
					paddingRight : '4px'
				},
				imageBerita : {
					objectFit: 'cover', width: '277px',height: '152px',marginLeft: 'auto', marginRight: 'auto'
				},
				mfpDateAuthor : {
					fontSize : "80%",
				    lineHeight : "120%",
				    color : "#666",
				    marginBottom : "10px",
				    display :"block"
				}
			}
		}
		
	}
</script>