<template>
	<Layout v-if="layanan" :title="layanan.title">

		<div class="block block-border-bottom-grey block-pd-sm"> 
			<div class="page-header">
				<h2 class="block-title">{{layanan.title}}</h2>
			</div>
			<div class="entry-meta muted clearfix">
				<time class="create-date" :datetime="layanan.created_at">
					Created: {{$moment(layanan.created_at).format('LLLL')}}	
				</time>
			</div>

			<div class="col-md-12">
				<div class="block block-border-bottom-grey block-pd-sm">
					<img  width="100%" :src="`${domain}/${layanan.storege}`" :alt="layanan.title">   
				</div>



				<div class="block block-border-bottom-grey block-pd-sm">
					<p v-html="layanan.body"></p>
				</div>
			</div>

		</div>
		<div id="sp-breadcrumb" class="span12">
			<ul class="breadcrumb">
				<li>
					<inertia-link href="/">Home</inertia-link>
				</li>
				<li>
					<inertia-link :href="`/layanan-${layanan.category}`">{{slug}}</inertia-link>
				</li>
				<li>
					<span>{{layanan.title}}</span>
				</li>
			</ul>
		</div>
	</Layout>

	<Layout v-else title="Halaman Tidak Ditemukan">
		<h2 class="text-center"><b>Halaman Tidak Ditemukan</b></h2>	
	</Layout>

</template>

<script>
	import Layout from '../../Shared/Layout';
	export default{
		props : ['layanan' , 'domain' , 'slug'],
		components : {
			Layout
		}

	}
</script>