<template>
	<Layout :title="title">
		<div class="block block-border-bottom-grey block-pd-sm"> 
			<div class="page-header">
				<h2 class="block-title">{{title}}</h2>
			</div>
			

			<div class="col-md-12">
				<div class="block block-border-bottom-grey block-pd-sm">
					<div class="row">

						<div class="col-xs-12 col-sm-6 col-md-4" v-for="(data , key) in datas" :key="key">
							<div class="well well-sm">
								<div class="row">
									<div class="col-sm-6 col-md-4">
										<img v-if="data.orang && data.orang" :src="`${domain}/${data.orang.photo_profil}`" :name="data.orang.nama"  border="0" class="img-circle"
										style="object-fit: cover;
									    width: 90px;
									    height: 90px;
									    margin-left: auto;
									    margin-right: auto;">
									</div>
									<div class="col-sm-6 col-md-8">
										<h4>
											<inertia-link :href="`/sdm/${data.id}`">{{data.orang.nama}}</inertia-link>
										</h4>
										<small>
											<cite :title="data.orang.alamat" v-if="data.orang.alamat"> {{data.orang.alamat ? data.orang.alamat : ''}}
												<i class="glyphicon glyphicon-map-marker">
												</i>
											</cite>
										</small>
										<p>
											<div >
												<i class="glyphicon glyphicon-envelope"></i> {{data.orang.user.email}}
												<br />
											</div>
											<div v-if="data.orang.no_hp != '0'">
												<i class="glyphicon glyphicon-phone" ></i>{{data.orang.no_hp}}
												<br />
											</div>
											<i class="glyphicon glyphicon-globe"></i> {{data.jabatan.jabatan}}
										</p>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

		</div>
		<div id="sp-breadcrumb" class="span12">
			<ul class="breadcrumb">
				<li>
					<inertia-link href="/">Home</inertia-link>
				</li>
				<li>
					<span>{{title}}</span>
				</li>
			</ul>
		</div>
	</Layout>
</template>

<script >
	import Layout from '../../Shared/Layout';
	export default{
		components : {
			Layout,
		},
		props: ['title','datas' ,'domain']
	}
</script>