<template>
	<Layout :title="title">
		<div class="block block-border-bottom-grey block-pd-sm"> 
			<div class="page-header">
				<h2 class="block-title">{{title}}</h2>
			</div>
			

			<div class="col-md-12" v-if="data">
				<div class="block block-border-bottom-grey block-pd-sm">
					<center>
						<img v-if="data.orang" :src="`${domain}/${data.orang.photo_profil}`" :name="data.orang.nama"  border="0" class="img-circle"
						style="object-fit: cover;
					    width: 140px;
					    height: 140px;
					    margin-left: auto;
					    margin-right: auto;">

						<h3 class="media-heading">{{ data.orang.nama }}</h3>
						<span><strong>Jabatan: </strong></span>
						<!-- <span class="label label-warning">HTML5/CSS</span>
						<span class="label label-info">Adobe CS 5.5</span>
						<span class="label label-info">Microsoft Office</span> -->
						<span class="label label-success">{{data.jabatan.jabatan}}</span>
					</center>
					<hr>
					<center>
						<div class="row">
							<div class="col-md-4">
								<strong class="text-left">Email: </strong>
								<span class="text-left label label-success">{{data.orang.user.email}}</span>
							</div>
							<div class="col-md-4" v-if="data.orang.no_hp != '0'">
								<strong class="text-left">No Telepon: </strong>
								<span class="text-left label label-success">{{data.orang.no_hp}}</span>
							</div>
							<div class="col-md-4" v-if="data.orang.alamat">
								<strong class="text-left">Alamat: </strong>
								<span class="text-left label label-success">{{data.orang.alamat}}</span>
							</div>
							
						</div>
					</center>
					<hr>
					<center>
						<p class="text-left"><strong>Profil: </strong><br>
						{{data.orang.about ? data.orang.about : `Profil Belum Di Isi` }}</p>
						<br>
					</center>
				</div>
			</div>
			<h2 class="text-center" v-else><b>Halaman Tidak Ditemukan</b></h2>	


		</div>
		<div id="sp-breadcrumb" class="span12">
			<ul class="breadcrumb">
				<li>
					<inertia-link href="/">Home</inertia-link>
				</li>
				<li>
					<inertia-link href="/sdm">{{title}}</inertia-link>
				</li>
				<li>
					<span>Detail</span>
				</li>
			</ul>
		</div>
	</Layout>
</template>

<script >
	import Layout from '../../Shared/Layout';
	export default{
		components : {
			Layout,
		},
		props: ['title','data' , 'domain']
	}
</script>