<template>
	<Layout title="Post">
		<Berita v-bind:posts="posts" v-bind:domain="domain" v-bind:title="`Berita`"></Berita>
		<!-- <Layanan></Layanan>
		<Gambar></Gambar>
		<Testimoni></Testimoni> -->
		
	</Layout>
</template>

<script >
	import Layout from '../../Shared/Layout';
	import Berita from '../../Shared/Berita';
	import Layanan from '../../Shared/Layanan';
	import Gambar from '../../Shared/Gambar';
	import Testimoni from '../../Shared/Testimoni';
	export default{
		components : {
			Layout,
			Berita,
			Layanan,
			Gambar,
			Testimoni
		},
		props: ['posts' , 'domain']
	}
</script>