
<template>
	<Layout v-if="post" :title="post.title">

		<div class="block block-border-bottom-grey block-pd-sm"> 
			<div class="page-header">
				<h2 class="block-title">{{post.title}}</h2>
			</div>
			<div class="entry-meta muted clearfix">

				<span class="category-name">
					Category: <inertia-link :href="`/post/${post.categorie.slug}/categorie`">{{post.categorie.name}}</inertia-link>				
				</span>


				<time class="create-date" :datetime="post.created_at">
					<!-- Created: Tuesday, 12 May 2020 09:29		 -->
					Created: {{$moment(post.created_at).format('LLLL')}}	
				</time>
				<span class="by-author"> 
					Written by <span class="author vcard"><span class="fn n">{{post.author.name}}</span></span>			
				</span>

			</div>

			<div class="col-md-12">
				<div class="block block-border-bottom-grey block-pd-sm">
					<img  width="100%" :src="`${domain}/${post.storege}`" :alt="post.title">   
				</div>



				<div class="block block-border-bottom-grey block-pd-sm">
					<p v-html="post.body"></p>
				</div>
			</div>

			<div class="col-md-12"> 
				<div id="adsgoeshere" style="padding-top:60px; text-align: center;" v-html="adsenseContent"></div>

			</div>

		</div>
		<div id="sp-breadcrumb" class="span12">
			<ul class="breadcrumb ">

				<li>
					<inertia-link href="/">Home</inertia-link>
				</li>
				<li>
					<inertia-link :href="`/post/${post.categorie.slug}/categorie`" class="pathway">{{post.categorie.name}}</inertia-link>
				</li>
				<li>
					<span>{{post.title}}</span>
				</li>
			</ul>
		</div>
		<Berita v-bind:posts="posts" v-bind:domain="domain" v-bind:title="`Berita Lainya`"></Berita>
	</Layout>
	<Layout v-else title="Halaman Tidak Ditemukan">
		<h2 class="text-center"><b>Halaman Tidak Ditemukan</b></h2>	
		<Berita v-bind:posts="posts" v-bind:domain="domain" v-bind:title="`Berita Lainya`"></Berita>
	</Layout>

</template>


<script>
	import Layout from '../../Shared/Layout';
	import Berita from '../../Shared/Berita';
	export default{
		props : ['post' , 'domain' , 'posts','title'],
		components : {
			Layout,
			Berita
		},
		data () {
			return {
				adsenseContent: ''
			}
		},
		mounted:function(){
			this.adsenseContent = document.getElementById('divadsensedisplaynone').innerHTML;
		},
		metaInfo() {
			return {
				meta: [

				{name: 'twitter:card', content: 'summary'},
				{name: 'twitter:title', content: this.post.title},
				{name: 'twitter:description', content: this.post.body.replace(/(<([^>]+)>)/ig,"").substr(0 , 250)},

				{name: 'twitter:image', content: `${this.domain}/${this.post.storege.split('.')[0]}-cropped.${this.post.storege.split('.')[1]}`},

				{property: 'og:title', content: this.post.title},
				{property: 'og:site_name', content: this.title},
				{property: 'og:type', content: 'website'},
				{property: 'og:image', content:  `${this.domain}/${this.post.storege.split('.')[0]}-cropped.${this.post.storege.split('.')[1]}`},
				{property: 'og:description', content: this.post.body.replace(/(<([^>]+)>)/ig,"").substr(0 , 250)}
				]
			}
		}

	}
</script>