<template>
	<Layout :title="slug">
		<div>
			<div class="mission  block block-pd-sm block-bg-noise">
				<h2 class="container block-title">
					{{slug}}
				</h2>
				<Carousel :perPageCustom="[[320, 1],[425, 2],[768, 3],[1024, 4]]" :autoplay="true" :autoplayHoverPause="true" :scrollPerPage="true" :paginationEnabled="false">
					<Slide v-bind:style="itemBerita" v-for="(post , key) in fotos.data" :key="key">
					<!-- <carousel :items="4" :dots="false" :nav="false"> -->
						<!-- <div class="item"  v-bind:style="itemBerita" v-for="(post , key) in layanans.data" :key="key"> -->
							<inertia-link :href="`/foto/${post.id}`"  class="overlay-wrapper">
								<img v-bind:style="imageBerita" :src="`${domain}/${JSON.parse(post.image)[0].split('.')[0]}-cropped.${JSON.parse(post.image)[0].split('.')[1]}`" :alt="post.name" class="img-responsive underlay">
								<span class="overlay">
									<span class="overlay-content"> <span class="h4">Lihat</span> </span>
								</span>
							</inertia-link>
							<div class="item-details bg-noise">
								<h4 class="item-title">
									<inertia-link :href="`/foto/${post.id}`" >{{post.name}}</inertia-link>
								</h4>
								<span v-bind:style="mfpDateAuthor">{{$moment(post.created_at).format('LLLL')}}</span>
								<p>{{post.deskripsi.replace(/(<([^>]+)>)/ig,"").substr(0 , 250)}}</p>
								<inertia-link :href="`/foto/${post.id}`" class="btn btn-more"><i class="fa fa-plus"></i>Lihat Lebih Lanjut</inertia-link>
								
							</div>
						<!-- </div> -->
					<!-- </carousel> -->
					</Slide>
				</Carousel>
			</div>
		</div>
	</Layout>
</template>

<script >
	import Layout from '../../Shared/Layout';
	// import carousel from 'vue-owl-carousel2'
	import { Carousel, Slide } from 'vue-carousel';
	export default {
		props : ['fotos' , 'domain' , 'slug'],
		components: { Carousel, Slide, Layout },
		data () {
			return {
				itemBerita : {
					paddingLeft : '4px',
					paddingRight : '4px'
				},
				imageBerita : {
					objectFit: 'cover', width: '277px',height: '152px',marginLeft: 'auto', marginRight: 'auto'
				},
				mfpDateAuthor : {
					fontSize : "80%",
				    lineHeight : "120%",
				    color : "#666",
				    marginBottom : "10px",
				    display :"block"
				}
			}
		}
		
	}
</script>