<template>
	<Layout v-if="foto" :title="foto.name">

		<div class="block block-border-bottom-grey block-pd-sm"> 
			<div class="page-header">
				<h2 class="block-title">{{foto.name}}</h2>
			</div>
			<div class="entry-meta muted clearfix">
				<time class="create-date" :datetime="foto.created_at">
					Created: {{$moment(foto.created_at).format('LLLL')}}	
				</time>
			</div>

			<div class="col-md-12">
				<div class="block block-border-bottom-grey block-pd-sm">
					<!-- <img  width="100%" :src="`${domain}/${JSON.parse(foto.image)[0].split('.')[0]}.${JSON.parse(foto.image)[0].split('.')[1]}`" :alt="foto.name">   -->
					<div class="col-sm-3"></div>
					
					<div class="col-sm-6 text-center">
						
						<div id="fotoShow" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								<div class="item"  :class="key == 0  ? 'active' : ''" v-for="(data , key) in JSON.parse(foto.image)" :key="key" >
									<img :src="`${domain}/${data.split('.')[0]}.${data.split('.')[1]}`" :alt="foto.name"
									style="object-fit: cover; width: 100%;height: 20em;margin-left: auto;margin-right: auto;" 
									/>
								</div>
							</div>
							<a class="left carousel-control" href="#fotoShow" data-slide="prev">
								<span class="glyphicon glyphicon-chevron-left"></span>
								<span class="sr-only">Previous</span>
							</a>
							<a class="right carousel-control" href="#fotoShow" data-slide="next">
								<span class="glyphicon glyphicon-chevron-right"></span>
								<span class="sr-only">Next</span>
							</a>
						</div>
					</div>

					<div class="col-sm-3"></div>

				</div>



				<div class="block block-border-bottom-grey block-pd-sm">
					<p v-html="foto.deskripsi"></p>
				</div>
			</div>

		</div>
		<div id="sp-breadcrumb" class="span12">
			<ul class="breadcrumb">
				<li>
					<inertia-link href="/">Home</inertia-link>
				</li>
				<li>
					<inertia-link :href="`/foto`">{{slug}}</inertia-link>
				</li>
				<li>
					<span>{{foto.name}}</span>
				</li>
			</ul>
		</div>
	</Layout>

	<Layout v-else title="Halaman Tidak Ditemukan">
		<h2 class="text-center"><b>Halaman Tidak Ditemukan</b></h2>	
	</Layout>

</template>

<script>
	import Layout from '../../Shared/Layout';
	export default{
		props : ['foto' , 'domain' , 'slug'],
		components : {
			Layout
		}

	}
</script>