<template>
	<Layout v-if="page" :title="page.title">

		<div class="block block-border-bottom-grey block-pd-sm"> 
			<div class="page-header">
				<h2 class="block-title">{{page.title}}</h2>
			</div>
			<div class="entry-meta muted clearfix">
				<time class="create-date" :datetime="page.created_at">
					Created: {{$moment(page.created_at).format('LLLL')}}	
				</time>
				<span class="by-author" v-if="page.author"> 
					Written by <span class="author vcard"><span class="fn n">{{page.author.name}}</span></span>			
				</span>

			</div>

			<div class="col-md-12" >
				<div class="block block-border-bottom-grey block-pd-sm" v-if="page.storege">
					<img   width="100%" :src="`${domain}/${page.storege}`" :alt="page.title">   
				</div>



				<div class="block block-border-bottom-grey block-pd-sm">
					<p v-html="page.body"></p>
				</div>
			</div>

		</div>
		<div id="sp-breadcrumb" class="span12">
			<ul class="breadcrumb">
				<li>
					<inertia-link href="/">Home</inertia-link>
				</li>
				<li>
					<span>{{page.head_menu.title}}</span>
				</li>
				<li>
					<span>{{page.title}}</span>
				</li>
			</ul>
		</div>
		<Berita v-bind:posts="posts" v-bind:domain="domain" v-bind:title="`Berita Lainya`"></Berita>
	</Layout>

	<Layout v-else title="Halaman Tidak Ditemukan">
		<h2 class="text-center"><b>Halaman Tidak Ditemukan</b></h2>	
		<Berita v-bind:posts="posts" v-bind:domain="domain" v-bind:title="`Berita Lainya`"></Berita>
	</Layout>

</template>

<script>
	import Layout from '../../Shared/Layout';
	import Berita from '../../Shared/Berita';
	export default{
		props : ['page' , 'domain' , 'posts'],
		components : {
			Layout,
			Berita
		}

	}
</script>