<template>
	<Layout :title="slug">
		<div>
			<div class="mission  block block-pd-sm block-bg-noise">
				<h2 class="container block-title">
					{{slug}}
				</h2>
				
				<!-- <div class="row"> -->
					
					<div class=" panel" >
						<div class="panel-body">
							<!-- Blog post 1-->
							<div class="media" v-for="(data , key) in publikasis.data" :key="key">
								<div class="media-left hidden-xs">
									<!-- Date desktop -->
									<div class="date-wrapper"> <span class="date-m">{{$moment(data.waktu_publikasi).format('MMM')}}</span> <span class="date-d">{{$moment(data.waktu_publikasi).format('DD')}}</span> </div>
								</div>
								<div class="media-body">
									<h4 class="media-heading">
										<a :href="data.url_publikasi" class="text-weight-strong">{{data.judul_publikasi}}</a>
									</h4>
									<!-- Meta details mobile -->
									<ul class="list-inline meta text-muted visible-xs">
										<li><i class="fa fa-calendar"></i> <span class="visible-md">Created:</span> {{$moment(data.waktu_publikasi).format('YYYY-MM-DD')}}</li>
									</ul>
									<ul class="list-inline meta text-muted ">
										<li v-if="data.authorr"><i class="fa fa-user"></i> <a :href="data.url_publikasi">{{data.authorr.nama}}</a></li>
										<li> <a :href="data.url_publikasi">{{data.jenis_publikasi}}</a></li>
									</ul>
									<p>
										Tempat : ({{data.tempat_publikasi}}) , ({{data.doi_publikasi}}) , Vol : ({{data.vol_publikasi}})
										<a :href="data.url_publikasi">Read more <i class="fa fa-angle-right"></i></a>
									</p>
								</div>
							</div>
						</div>
					</div>
					
					
					

				<!-- </div> -->
			</div>
		</div>
	</Layout>
</template>

<script >
	import Layout from '../../Shared/Layout';
	// import carousel from 'vue-owl-carousel2'
	import { Carousel, Slide } from 'vue-carousel';
	export default {
		props : ['publikasis' , 'domain' , 'slug'],
		components: { Carousel, Slide, Layout },
		data () {
			return {
				itemBerita : {
					paddingLeft : '4px',
					paddingRight : '4px'
				},
				imageBerita : {
					objectFit: 'cover', width: '277px',height: '152px',marginLeft: 'auto', marginRight: 'auto'
				},
				mfpDateAuthor : {
					fontSize : "80%",
					lineHeight : "120%",
					color : "#666",
					marginBottom : "10px",
					display :"block"
				}
			}
		}
		
	}
</script>