<template>
	<Layout title="About">
		<div>
			<p>Ini Halaman {{judul}}</p>
		</div>
	</Layout>
</template>

<script >
	import Layout from '../../Shared/Layout';
	export default{
		components : {
			Layout,
		},
		props: ['judul' ,'isi']
	}
</script>