<template>
	<Layout :title="title">
		<div class="block block-border-bottom-grey block-pd-sm"> 
			<div class="page-header">
				<h2 class="block-title">{{title}}</h2>
			</div>
			

			<div class="col-md-12">
				<div class="block block-border-bottom-grey block-pd-sm">
					<p v-html="data"></p>
				</div>
			</div>

		</div>
		<div id="sp-breadcrumb" class="span12">
			<ul class="breadcrumb">
				<li>
					<inertia-link href="/">Home</inertia-link>
				</li>
				<li>
					<span>{{title}}</span>
				</li>
			</ul>
		</div>
	</Layout>
</template>

<script >
	import Layout from '../../Shared/Layout';
	export default{
		components : {
			Layout,
		},
		props: ['title','data']
	}
</script>