<template>

	<Layout title="Home">
		
		<!-- <ul class="nav nav-pills" role="tablist">
			<li class="btn-success" :class="keykat === 0 ? 'active' : ''" v-for="(kate, keykat) in category" :key="keykat">

				<a :href="`#${kate.slug}`" role="tab" data-toggle="tab" style="color: #ffffff;" v-on:click="openBerita()">
					{{kate.name}}
				</a>
			</li>
		</ul>

		<div class="tab-content">
			<div class="tab-pane " :class="keykat === 0 ? 'active' : ''" :id="kate.slug" v-for="(kate, keykat) in category" :key="keykat">
				<BeritaNotPaging v-bind:posts="kate.posts" v-bind:domain="domain" v-bind:title="kate.name"></BeritaNotPaging>
			</div>
		</div> -->

		<div>
		  <b-card no-body>
		    <b-tabs pills card>
		      <b-tab :title="kate.name" :active="keykat == 0" v-for="(kate, keykat) in category" :key="keykat">
		      	<b-card-text>
			      	<BeritaNotPaging v-bind:posts="kate.posts" v-bind:domain="domain" v-bind:title="kate.name"></BeritaNotPaging>
			    </b-card-text>
		      </b-tab>
		    </b-tabs>
		  </b-card>
		</div>
		<Layanan></Layanan>
		<!-- <Gambar></Gambar> -->
		<Testimoni v-bind:fotos="fotos" v-bind:video="video" v-bind:domain="domain" v-bind:publikasis="publikasis" v-bind:statik="statik"></Testimoni>


	</Layout>

</template>

<script >
	import Layout from '../../Shared/Layout';
	import BeritaNotPaging from '../../Shared/BeritaNotPaging';
	import Layanan from '../../Shared/Layanan';
	
	import Testimoni from '../../Shared/Testimoni';
	// import { CardPlugin } from 'bootstrap-vue'
	export default{
		components : {
			Layout,
			BeritaNotPaging,
			Layanan,
			Testimoni
			// CardPlugin
		},
		props: ['domain' , 'category' , 'fotos','video','publikasis' ,'statik' , 'logo','deskripsi' , 'title'],
		methods : {
			openBerita : function() {
				$(".tab-content").click();
			}
		},
		metaInfo() {
			return {
				meta: [

				{name: 'twitter:card', content: 'summary'},
				{name: 'twitter:title', content: this.title},
				{name: 'twitter:description', content: this.deskripsi},

				{name: 'twitter:image', content: this.logo},

				{property: 'og:title', content : this.title},
				{property: 'og:site_name', content: this.title},
				{property: 'og:type', content: 'website'},
				{property: 'og:image', content:  this.logo},
				{property: 'og:description', content: this.deskripsi}
				]
			}
		}
	}
</script>