<template>
	<Layout :title="title">
		<div class="block block-border-bottom-grey block-pd-sm"> 
			<div class="page-header">
				<h2 class="block-title">{{title}}</h2>
			</div>


			<div class="col-md-12 ">
				<div class="block block-border-bottom-grey block-pd-sm">
					<!-- <vo-basic :data="baru" class="table-responsive"></vo-basic> -->
					<!-- <vo-basic :data="chartData"></vo-basic> -->
					<organization-chart :datasource="baru" :pan="true" :zoom="true" :zoomin-limit="7" :zoomout-limit="0.5"></organization-chart>
					<!-- <organization-chart :datasource="ds"></organization-chart> -->

				</div>
			</div>

		</div>
		<div id="sp-breadcrumb" class="span12">
			<ul class="breadcrumb">
				<li>
					<inertia-link href="/">Home</inertia-link>
				</li>
				<li>
					<span>{{title}}</span>
				</li>
			</ul>
		</div>
	</Layout>
</template>

<script >
	import Layout from '../../Shared/Layout';
	import { VoBasic } from 'vue-orgchart';
	import OrganizationChart from 'vue-organization-chart'
	import 'vue-organization-chart/dist/orgchart.css'
	export default{
		components : {
			Layout,
			VoBasic,
			OrganizationChart
		},
		props: ['title','data'],
		
		created () {
			this.baru = this.settings()
		},
		methods : {
			settings() {
				var datas = this.data.map(function(el, key) {
					var chid1 = el.bawahans.map(function(el1 , key1) {
						var chid2 = el1.bawahans.map(function(el2 , key2) {
							return {
								name : el2.struktur_organisasi,
								id : el2.id_struktur_organisasi,
								title : el2.orang ? (el2.orang.orang ? el2.orang.orang.nama : '') : ''
							}
						});
						return {
							name : el1.struktur_organisasi,
							id : el1.id_struktur_organisasi,
							title : el1.orang ? (el1.orang.orang ? el1.orang.orang.nama : '') : '',
							children : chid2
						}
					});
					return {
						name : el.struktur_organisasi,
						id : el.id_struktur_organisasi,
						title : el.orang ? (el.orang.orang ? el.orang.orang.nama : '') : '',
						children : chid1
					}
				});
				return datas[0];


			}
		}
	}
</script>