<template>
	<Layout :title="title">
		<div class="block block-border-bottom-grey block-pd-sm"> 
			<div class="page-header">
				<h2 class="block-title">{{title}}</h2>
			</div>

			<div class="col-md-12">

				<div class="block block-border-bottom-grey block-pd-sm"  >
					<div v-if="data">
						<h3 class="block-title">
							Visi
						</h3>
						<p v-html="data.visi"></p>
						<h3 class="block-title">
							Misi
						</h3>
						<p v-html="data.misi"></p>
					</div>
					<div v-else>
						<h3 class="text-center">
							Maaf Data Visi Misi Anda Belum Di Perbaruhi
						</h3>
					</div>
					
				</div>
			</div>

		</div>
		<div id="sp-breadcrumb" class="span12">
			<ul class="breadcrumb ">
				<li>
					<inertia-link href="/">Home</inertia-link>
				</li>
				<li>
					<span>{{title}}</span>
				</li>
			</ul>
		</div>
	</Layout>
</template>

<script >
	import Layout from '../../Shared/Layout';
	export default{
		components : {
			Layout,
		},
		props: ['title','data']
	}
</script>