<template>
	<div>
		<div class="  block block-pd-sm block-bg-noise">
			<h2 class="container block-title">
				{{title}}
			</h2>
			<Carousel :perPageCustom="[[320, 1],[425, 2],[768, 3],[1024, 4]]"  :paginationEnabled="false" >
				<Slide v-bind:style="itemBerita" v-for="(post , key) in posts" :key="post.id" style="visibility: visible;">
					<!-- <div class="item"  v-bind:style="itemBerita" v-for="(post , key) in posts.data" :key="post.id"> -->
						<inertia-link :href="`/post/${post.slug}`"  class="overlay-wrapper">
							<img v-bind:style="imageBerita" :src="`${domain}/${post.storege.split('.')[0]}-cropped.${post.storege.split('.')[1]}`" :alt="post.title" class="img-responsive underlay">
							<span class="overlay">
								<span class="overlay-content"> <span class="h4">Lihat</span> </span>
							</span>
						</inertia-link>
						<div class="item-details bg-noise">
							<h4 class="item-title">
								<inertia-link :href="`/post/${post.slug}`" >{{post.title}}</inertia-link>
							</h4>
							<span v-bind:style="mfpDateAuthor">{{$moment(post.created_at).format('LLLL')}} - {{post.author.name}}</span>
							<p>{{post.body.replace(/(<([^>]+)>)/ig,"").substr(0 , 250)}}</p>
							<inertia-link :href="`/post/${post.slug}`" class="btn btn-more"><i class="fa fa-plus"></i>Lihat Lebih Lanjut</inertia-link>
							<!-- <a :href="`post/${post.slug}`" class="btn btn-more"><i class="fa fa-plus"></i>Lihat Lebih Lanjut</a> -->
						</div>
					<!-- </div> -->
				</Slide>
			</Carousel>
		</div>
	</div>
</template>
<style>
	
</style>
<script>
	// import carousel from 'vue-owl-carousel2'
	import { Carousel, Slide } from 'vue-carousel';
	export default {
		props : ['posts' , 'domain' , 'title'],
		components: { 
			Carousel,
		    Slide
		 },
		data () {
			return {
				itemBerita : {
					paddingLeft : '4px',
					paddingRight : '4px'
				},
				imageBerita : {
					objectFit: 'cover', width: '277px',height: '152px',marginLeft: 'auto', marginRight: 'auto'
				},
				mfpDateAuthor : {
					fontSize : "80%",
				    lineHeight : "120%",
				    color : "#666",
				    marginBottom : "10px",
				    display :"block"
				}
			}
		}
		
	}
	
</script>