<template>
  <div>
    
      <footer class="block block-bg-grey-dark">
        <div class="container">
          <div class="col-md-7">
            <p style="color: #ffffff">Copyright © {{$page.app.title}} {{new Date().getFullYear()}}</p>
            <address style="color: #ffffff;">
                <i>{{$page.app.alamat}}</i><br/>

                <abbr title="Telp"><span class="fa fa-phone"></span></abbr>&nbsp;<a :href="`tel:${$page.app.noTelepon}`">{{$page.app.noTelepon}}</a>
                &nbsp;

                <abbr title="Fax"><span class="fa fa-fax"></span></abbr>&nbsp;<a :href="`fax:${$page.app.noFax}`">{{$page.app.noFax}}</a>
                &nbsp;

                <abbr title="Email"><span class="fa fa-email"></span></abbr>&nbsp;<a :href="`mailto:${$page.app.email}`">{{$page.app.email}}</a>
              </address>
          </div>
          <div class="col-md-5">
            <ul class="list-inline pull-right">
              <li>
                <a :href="$page.app.twitter" v-if="$page.app.twitter"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a :href="$page.app.fb" v-if="$page.app.fb"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a :href="$page.app.ig" v-if="$page.app.ig"><i class="fa fa-instagram"></i></a>
              </li>
              <li>
                <a :href="$page.app.gplus" v-if="$page.app.gplus"><i class="fa fa-google-plus"></i></a>
              </li>
            </ul>
           <!--  <div class="navbar-text social-media social-media-inline pull-right">
              <a :href="$page.app.twitter" v-if="$page.app.twitter"><i class="fa fa-twitter"></i></a>
              <a :href="$page.app.fb" v-if="$page.app.fb"><i class="fa fa-facebook"></i></a>
              <a :href="$page.app.ig" v-if="$page.app.ig"><i class="fa fa-instagram"></i></a>
              <a :href="$page.app.gplus" v-if="$page.app.gplus"><i class="fa fa-google-plus"></i></a>
            </div> -->
          </div>
          <a href="#top" class="scrolltop">Top</a>
        </div>
      </footer>
  </div>
  
</template>