<template>
	<div id="foto" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner">
			<div class="item"  :class="key ==0  ? 'active' : ''" v-for="(data , key) in fotos" :key="key" >
				<img :src="`${domain}/${JSON.parse(data.image)[0].split('.')[0]}-medium.${JSON.parse(data.image)[0].split('.')[1]}`" :alt="data.name"
				style="object-fit: cover; width: 100%;height: 20em;margin-left: auto;margin-right: auto;" 
				/>
			</div>
		</div>
		<a class="left carousel-control" href="#foto" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#foto" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>

</template>

<script>
	export default{
		props: ['fotos','domain']
	}
</script>