<template>
	<div style="padding-top: 20px;">
		<div class="services block block-bg-gradient block-border-bottom">
			<h2 class="block-title container">
				Layanan
			</h2>
			<div class="row">
				<div class="col-md-3 text-center">
					<span class="fa-stack fa-5x">
						<i class="fa fa-circle fa-stack-2x text-primary"></i>
						<i class="fa fa-group fa-stack-1x fa-inverse"></i> 
					</span>
					<h4 class="text-weight-strong">
						Praktek Kerja / Magang
					</h4>
					<!-- <p>BPTP Gorontalo dalam komitmen pelayanan kepada masyarakat luas membuka kesempatan siswa/mahasiswa, instansi terkait,untuk melakukan Praktek kerja/ Magang ke BPTP Gorontalo.</p> -->
					<p>
						<inertia-link href="/layanan-1" class="btn btn-more i-right">Learn More <i class="fa fa-angle-right"></i></inertia-link>
					</p>
				</div>
				<div class="col-md-3 text-center">
					<span class="fa-stack fa-5x">
						<i class="fa fa-circle fa-stack-2x text-primary"></i>
						<i class="fa fa-pencil fa-stack-1x fa-inverse"></i> 
					</span>
					<h4 class="text-weight-strong">
						Pelatihan
					</h4>
					<!-- <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p> -->
					<p>
						<inertia-link href="/layanan-2" class="btn btn-more i-right">Learn More <i class="fa fa-angle-right"></i></inertia-link>
					</p>
				</div>
				<div class="col-md-3 text-center">
					<span class="fa-stack fa-5x">
						<i class="fa fa-circle fa-stack-2x text-primary"></i>
						<i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i> 
					</span>
					<h4 class="text-weight-strong">
						Bimtek
					</h4>
					<!-- <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p> -->
					<p>
						<inertia-link href="/layanan-3" class="btn btn-more i-right">Learn More <i class="fa fa-angle-right"></i></inertia-link>
					</p>
				</div>
				<div class="col-md-3 text-center">
					<span class="fa-stack fa-5x">
						<i class="fa fa-circle fa-stack-2x text-primary"></i>
						<i class="fa fa-cogs fa-stack-1x fa-inverse"></i> 
					</span>
					<h4 class="text-weight-strong">
						Info Teknologi
					</h4>
					<!-- <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p> -->
					<p>
						<inertia-link href="/layanan-4" class="btn btn-more i-right">Learn More <i class="fa fa-angle-right"></i></inertia-link>
					</p>
				</div>
			</div>
		</div>
	</div>
</template>