<template>
  <div>
    <div id="background-wrapper" class="buildings" data-stellar-background-ratio="0.1">
      <div id="navigation" class="wrapper">
        <div class="header">
          <div class="header-inner container">
            <div class="row">
              <div class="col-md-8">
                <inertia-link class="navbar-brand" href="/" title="Home">
                <!-- <a class="navbar-brand" href="#" title="Home" > -->
                  <!-- <h1 > -->
                    <img :src="$page.app.logo" :alt="`${$page.app.title} `">
                    <!-- </h1> -->
                  </inertia-link>
                  <div class="navbar-slogan">
                    BPTP 
                    <br> GORONTALO
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="hero sembunyi" id="highlighted">
            <Slider></Slider>

          </div>
          <br><br>
          <div class="container">
            <Nav></Nav>
          </div>
        </div>

        <div id="content">
          <div class="container" id="about">
            <div class="row">
              <div class="container">
                <slot/>
              </div>
            </div>
          </div>
        </div>
      </div>
    <Footer></Footer>
  </div>
</template>
<!-- <style>
  @media(max-width: 998px) {
    .sembunyi {
      display: none;
    }
  }

</style> -->

<script>
  import Footer from './Footer';
  import Slider from './Slider';
  import Nav from './Nav';
  
  export default {
    components : {
      Footer,
      Slider,
      Nav
    },
    props: {
      title: String,
    },
    data () {
      return {
        data : {
          settings : []
        }
      }
    },
    watch: {
      title: {
        immediate: true,
        handler(title) {
          document.title = title
        },
      },
    }
    /*,
    mounted:function(){
        this.settings() //method1 will execute at pageload
      },
      methods : {
        settings() {
        // console.log($page.app.page);
        // alert('tes')
        // alert($page.app.name)
        // this.$inertia.get('settings')
        // .then((res) => {
        //   this.data.settings = res.data;
        //   console.log(res , 'apa depe hasil')
        // })
        // .catch(err => {
        //     console.log(err, 'apa yang erro')
        // });
      }
    }*/
  }
</script>

