<template>
	<div class="navbar navbar-default">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
	  
	  <div class="navbar-collapse collapse">
	    <ul class="nav navbar-nav" id="main-menu">
	      <li class="icon-link">
	        <inertia-link href="/"><i class="fa fa-home"></i></inertia-link>
	      </li>
	      <li class="dropdown">
	        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Profil<b class="caret"></b></a>
	        <ul class="dropdown-menu">
	          <li class="dropdown-header">Profil</li>
	          <li><inertia-link href="/pimpinan-kami">Pimpinan Kami</inertia-link></li>
	          <li><inertia-link href="/organisasi">Organisasi</inertia-link></li>
	          <li><inertia-link href="/sejarah">Sejarah</inertia-link></li>
	          <li><inertia-link href="/visi-misi">Visi dan Misi</inertia-link></li>
	          <li><inertia-link href="/sdm">SDM</inertia-link></li>
	        </ul>
	      </li>
	      <li class="dropdown">
	        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Layanan<b class="caret"></b></a>
	        <ul class="dropdown-menu">
	          <li class="dropdown-header">Layanan</li>
	          <li><inertia-link class="menu-item" href="/layanan-4">Info Teknologi</inertia-link></li>
	          <li><inertia-link class="menu-item" href="/layanan-3">Bimtek</inertia-link></li>
	          <li><inertia-link class="menu-item" href="/layanan-1">Praktek Kerja / Magang</inertia-link></li>
	          <li><inertia-link class="menu-item" href="/layanan-2">Pelatihan</inertia-link></li>
	          <!-- <li><inertia-link class="menu-item" href="/caffe-inovasi">Caffe Inovasi</inertia-link></li> -->

	        </ul>
	      </li>
	      <li class="menu">
	        <inertia-link href="/post">Berita</inertia-link>
	      </li>
	      <li class="dropdown" v-for="(headMenu ,keyMenu) in $page.app.headMenus" :key="keyMenu">
	        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{headMenu.title}}<b class="caret"></b></a>
	        <ul class="dropdown-menu">
	          <li class="dropdown-header">{{headMenu.title}}</li>
	          <li v-for="(page ,keyP) in headMenu.pages" :key="keyP">
	            <inertia-link class="menu-item" :href="page.route == 'DINAMIS' ? `/page/${page.slug}` : `/${page.slug}`">{{page.title}}</inertia-link>
	          </li>
	        </ul>
	      </li>
	    </ul>
	  </div>
	</div>
</template>