<template>
	
	<carousel :autoplay="true" :nav="false" :items="1"  :autoHeight="true" class="sembunyi">
		<div class="item">
			<div class="row">
				<div class="col-md-6 col-md-push-6 item-caption">
					<h3 class="h2 text-weight-light " style="font-weight: bold;text-shadow: 2px 2px #000000;" >
						Selamat Datang Di <br>  <span class="text-primary" style="font-weight: bold;">BPTP Gorontalo</span>
					</h3>
					<h4 class="" style="font-weight: bold;text-shadow: 2px 2px #000000;">
						Balai Pengkajian Teknologi Pertanian Balitbangtan - Kementrian Pertanian
					</h4>
					<h4 class="" style="font-weight: bold;text-shadow: 2px 2px #000000;">"Jujur, Ikhlas, Akuntabel, Profesional"</h4>
				</div>
				<div class="col-md-6 col-md-pull-6 hidden-xs">
					<img src="/assets/img/slides/litbang.png" style="width: 180px;height: 180px;" alt="Slide 1" class="center-block img-responsive">
				</div>
			</div>
		</div>
		<div class="item">
			<div class="row">
				<div class="col-md-6 text-right-md item-caption">
					<h3 class="h2 text-weight-light " style="font-weight: bold;text-shadow: 2px 2px #000000;">
						Selamat Datang Di <br>  <span class="text-primary" style="font-weight: bold;">BPTP Gorontalo</span>
					</h3>
					<h4 class="" style="font-weight: bold;text-shadow: 2px 2px #000000;">
						Balai Pengkajian Teknologi Pertanian Balitbangtan - Kementrian Pertanian
					</h4>
					<h4 class="" style="font-weight: bold;text-shadow: 2px 2px #000000;">"Jujur, Ikhlas, Akuntabel, Profesional"</h4>
				</div>
				<div class="col-md-6 hidden-xs">
					<img src="/assets/img/slides/litbang.png" style="width: 180px;height: 180px;"  alt="Slide 1" class="center-block img-responsive">
				</div>
			</div>
		</div>
	</carousel>
</template>

<!-- <style type="text/css">
	.  style="font-weight: bold;text-shadow: 2px 2px #000000;"{
		font-weight: bold;
	    text-shadow: 2px 2px #000000;
	}
</style> -->
<script>
	import carousel from 'vue-owl-carousel2'
	export default {
		components: { carousel },
	}
</script>