<template>
	<div class="testimonials block-contained">
		<div class="row">
			<!--Customer testimonial-->

			<!--Latest Blog posts-->
			<div class="col-md-12">
				<div class="col-md-6 m-b-lg">
					<h3 class="block-title">
						Galery Foto
					</h3>
					<Gambar v-bind:fotos="fotos" v-bind:domain="domain"></Gambar>
				</div>

				<div class="container col-md-6 blog-roll">
					<h3 class="block-title">
						Video
					</h3>
					<iframe style="height: 20em;width: 100%;" :src="`https://www.youtube.com/embed/${video.link}`" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			
			<div class="col-md-12">
				<div class="col-md-6 m-b-lg panel panel-success">
					<div class="panel-body">
						<img src="assets/img/data1.jpg" style="width: 100%; height: auto; padding-bottom: 46px;">
						<img src="assets/img/data2.jpg" style="width: 100%; height: auto;">
					</div>
				</div>
				<div class="col-md-6 m-b-lg">
					<div class="col-sm-12 panel panel-success">
						<div class="panel-body">
							<h3 class="block-title">
								Publikasi
							</h3>
							<!-- Blog post 1-->
							<div class="media" v-for="(data , key) in publikasis" :key="key">
								<div class="media-left hidden-xs">
									<!-- Date desktop -->
									<div class="date-wrapper"> <span class="date-m">{{$moment(data.waktu_publikasi).format('MMM')}}</span> <span class="date-d">{{$moment(data.waktu_publikasi).format('DD')}}</span> </div>
								</div>
								<div class="media-body">
									<h4 class="media-heading">
										<a :href="data.url_publikasi" class="text-weight-strong">{{data.judul_publikasi}}</a>
									</h4>
									<!-- Meta details mobile -->
									<ul class="list-inline meta text-muted visible-xs">
										<li><i class="fa fa-calendar"></i> <span class="visible-md">Created:</span> {{$moment(data.waktu_publikasi).format('YYYY-MM-DD')}}</li>
									</ul>
									<ul class="list-inline meta text-muted ">
										<li v-if="data.authorr"><i class="fa fa-user"></i> <a :href="data.url_publikasi">{{data.authorr.nama}}</a></li>
										<li> <a :href="data.url_publikasi">{{data.jenis_publikasi}}</a></li>
									</ul>
									<p>
										Tempat : ({{data.tempat_publikasi}}) , ({{data.doi_publikasi}}) , Vol : ({{data.vol_publikasi}})
										<a :href="data.url_publikasi">Read more <i class="fa fa-angle-right"></i></a>
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-12 panel panel-success">
						<div class="panel-body">
							<h3 class="block-title">
								STATISTIK PENGUNJUNG
							</h3>
							<div class="visitorcounter">
								<p>
									Hari Ini                <span class="floatright">{{statik.hariIni}}</span>
								</p>
								<p>
									Kemarin                <span class="floatright">{{statik.kemarin}}</span>
								</p>
								<p>
									Minggu Ini                <span class="floatright">{{statik.mingguIni}}</span>
								</p>
								<p>
									Bulan Ini                <span class="floatright">{{statik.bulanIni}}</span>
								</p>
								<p>
									Seluruhnya                <span class="floatright">{{statik.semua}}</span>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</template>
<style>
	.floatright {
		float: right;
		
	}
	.visitorcounter{
		color: #808080;
	}
</style>

<script>
	import Gambar from './Gambar';
	export default{
		components : {
			Gambar
		},
		props: ['fotos' ,'video', 'domain' ,'publikasis' ,'statik']
	}
</script>